@{
    var helpMenu = SessionUtil.Get<List<HelpMenuItem>>(InfraConst.SESS_HELP_MENU_LIST, this.Context) == null ? new List<HelpMenuItem>() : SessionUtil.Get<List<HelpMenuItem>>(InfraConst.SESS_HELP_MENU_LIST, this.Context);
}
<i></i>
@if (helpMenu != null)
{
    <ul>
        @foreach (var item in helpMenu)
        {
            <li><a href="javascript: windowSizeOpen('@Url.Action("HelpLink", "C0000", new { area = "F00" })?hh=@item.Hash', 'help', 1000, 600);closeNavi();">
                    <i class="bi bi-file-earmark-fill"></i><em>@item.Text</em>
                </a>
            </li>
        }
    </ul>
}