<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="C:/SYN/WebSite/Log/BaseApi/nlog-internal.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	
  <variable name="logDirectory" value="C:/SYN/WebSite/Log/BaseApi"/>

  <targets>
    <target
      xsi:type="Debugger"
      name="toDebugger"
      layout="${longdate} [${uppercase:${level:padding=-5}}] [${aspnet-item:variable=loginuser}] ${aspnet-item:variable=clientip} ${message}"/>
    <target
      xsi:type="File"
      name="toFile_Trace"
      fileName="${logDirectory}/Trace.log"
      layout="${longdate} [${uppercase:${level:padding=-5}}] ${processid} ${threadid} [${aspnet-item:variable=loginuser}] ${aspnet-item:variable=clientip} ${message}"
      encoding="UTF-8"
      archiveFileName="${logDirectory}/Trace_{#}.log"
      archiveNumbering="DateAndSequence"
      archiveAboveSize="10485760"
      archiveDateFormat="yyyy-MM-dd"/>
    <target
      xsi:type="File"
      name="toFile_Error"
      fileName="${logDirectory}/Error.log"
      layout="${longdate} [${uppercase:${level:padding=-5}}] ${processid} ${threadid} [${aspnet-item:variable=loginuser}] ${aspnet-item:variable=clientip} ${message}"
      encoding="UTF-8"
      archiveFileName="${logDirectory}/Error_{#}.log"
      archiveNumbering="Date"
      archiveEvery="Day"
      archiveDateFormat="yyyy-MM-dd"/>
  </targets>

  <rules>
	<logger name="Microsoft.*" minlevel="Trace"  final="true" />
    <logger name="*" minlevel="Debug" maxlevel="Fatal" writeTo="toDebugger" />
    <logger name="*" minlevel="Debug" maxlevel="Fatal" writeTo="toFile_Trace" />
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="toFile_Error" />
  </rules>
</nlog>
