@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ベースアプリケーション</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <script>
        $(function () {
            closeOtherWindows();
            window.open('@Url.Content("~/Static/Close.html")', '_self').close();
        });

        function closeOtherWindows() {
            var openWin = window.sessionStorage.getItem('openWindowName');
            if (openWin != null) {
                var openWins = openWin.split(";").filter(function (x, i, self) {
                    return self.indexOf(x) === i;
                });
                for (var i = 0; i < openWins.length; i++) {
                    var win = window.open('', openWins[i], "left=0,top=0,width=10,height=10,scrollbars=1,toolbar=0,menubar=0,staus=0,resizable=1");
                    win.close();
                }
            }
        }
    </script>
</body>
</html>