@model SynMain.Areas.F90.Models.D9003.D9003Model
@{
    if (Model.NoDB)
    {
        Layout = "~/Views/Shared/_LayoutNoDB.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutBodyOnly.cshtml";
        ViewBag.HeaderPatternId = Model.HeaderPatternId;
    }

    var screenTitle = "システムエラー";
    var showMessage = "予期せぬエラーが発生しました。";
}
<div class="table-responsive table-thead-container">
    <div class="main_title btn_group_left mt_5">
        <h3>@screenTitle</h3>
    </div>
    <div class="clearfix"></div>
</div>
<br />
<div class="table-responsive table-thead-container" style="height:50rem">
    @showMessage<br />
    <br />
    <table style="margin-left:3rem">
        <tr>
            <td>発生日時：</td>
            <td>@Model.ErrorTime</td>
        </tr>
        <tr>
            <td>エラーコード：</td>
            <td>@Model.ErrorCode</td>
        </tr>
    </table>
</div>