<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <httpErrors errorMode="Custom" existingResponse="Replace">
        <remove statusCode="400" />
        <remove statusCode="403" />
        <remove statusCode="404" />
        <remove statusCode="405" />
        <remove statusCode="500" />
        <remove statusCode="503" />
        <error statusCode="400" path="/F900/D900004/Init" responseMode="ExecuteURL" />
        <error statusCode="403" path="/F900/D900004/Init" responseMode="ExecuteURL" />
        <error statusCode="404" path="/F900/D900004/Init" responseMode="ExecuteURL" />
        <error statusCode="405" path="/F900/D900004/Init" responseMode="ExecuteURL" />
        <error statusCode="500" path="/F900/D900002/Init" responseMode="ExecuteURL" />
        <error statusCode="503" path="/F900/D900002/Init" responseMode="ExecuteURL" />
      </httpErrors>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
          <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
          <add name="Pragma" value="no-cache" />
          <add name="Expires" value="0" />
          <add name="X-Frame-Options" value="SAMEORIGIN" />
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="Content-Security-Policy" value="default-src 'self';script-src 'self' 'unsafe-inline' 'unsafe-eval'; frame-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self'; " />
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering removeServerHeader="true" />
      </security>
    </system.webServer>
  </location>
</configuration>