<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="C:/SYN/ReportTestData/nlog-internal.log">

  <variable name="logDirectory" value="C:/SYN/ReportTestData"/>

  <targets>
    <target
      xsi:type="Debugger"
      name="toDebugger"
      layout="${longdate} [${uppercase:${level:padding=-5}}] ${message}"/>
    <target
      xsi:type="File"
      name="toFile_Trace"
      fileName="${logDirectory}/Trace.log"
      layout="${longdate} [${uppercase:${level:padding=-5}}] ${message}"
      encoding="UTF-8"
      archiveFileName="${logDirectory}/Trace_{#}.log"
      archiveNumbering="DateAndSequence"
      archiveAboveSize="1048576"
      archiveDateFormat="yyyy-MM-dd"/>
    <target
      xsi:type="File"
      name="toFile_Error"
      fileName="${logDirectory}/Error.log"
      layout="${longdate} [${uppercase:${level:padding=-5}}] ${message}"
      encoding="UTF-8"
      archiveFileName="${logDirectory}/Error_{#}.log"
      archiveNumbering="Date"
      archiveEvery="Day"
      archiveDateFormat="yyyy-MM-dd"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Fatal" writeTo="toDebugger" />
    <logger name="*" minlevel="Debug" maxlevel="Fatal" writeTo="toFile_Trace" />
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="toFile_Error" />
  </rules>
</nlog>
