@{
    Layout = "~/Views/Shared/_LayoutBodyOnly.cshtml";
    ViewBag.HeaderPatternId = CoreConst.HEADER_PATTERN_ID_4;
}

<div class="table-responsive table-thead-container" style="height:50rem">
    画面が閉じない場合は、ブラウザ右上の×ボタンにて画面を閉じてください。
</div>